@font-face {
    font-family: "Menlo";
    src: url(_menlo-Regular.ttf) format("truetype")
}

html,
body {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    max-height: none;
    margin: 5px auto
}

b,
i,
u,
sup,
sub {
    display: inline
}

html:before {
    background: #1c3144 url(_wallpaper1.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 200%;
    display: block;
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    filter: blur(6px)
}

.cloze,
.nightMode.cloze {
    font-weight: 400;
    color: #000
}

#card,
#back_card {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px 5px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 2px 2px 12px #000
}

#card {
    margin-top: 8px;
    min-height: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #FFF
}

#card.hidden {
    border-radius: 8px
}

#back_card {
    min-height: 30px;
    background: #154360;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.card {
    font-family: Menlo, sans-serif;
    font-size: 22px;
    text-align: center;
    word-break: break-word;
    letter-spacing: -.05rem !important
}

#back_card {
    color: #fff
}

#back_card i {
    color: #fde74c;
    font-style: normal
}

#back_card b {
    color: #ff9f0a;
    font-weight: 400
}

#back_card u {
    color: #9bf6ff;
    text-decoration: none
}

#card {
    color: #016ea6
}

#card u {
    color: #9c6d9c !important;
    text-decoration: none
}

#card i {
    color: #5e747f !important;
    font-style: normal
}

#card b {
    color: #732802 !important;
    font-weight: bold;
    letter-spacing: -.2px;
}

#back_card sub, #card sub {
    font-size: .6em;
    font-style: normal !important;
    text-decoration: none !important;
}