@font-face {
    font-family: "JetBrains";
    src: url("_JetBrainsMono-Light.ttf") format("truetype");
}

body {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: calc(100% - 10px);
    max-height: none;
    margin: 5px auto;
}

div.comment {
    width: calc(100% - 10px);
    border: 2px solid black;
    border-radius: 6px;
    background: #202022;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    margin: 5px 0 0 5px;
}

@media (min-width: 800px) {
    div.comment {
        width: calc(680px);
    }
}

@media (min-width: 1100px) {
    div.comment {
        width: calc(770px);
    }
}

@media (min-width: 1300px) {
    div.comment {
        width: calc(850px);
    }
}

div.comment i {
    /*font-style: normal;*/
    color: #e2777a;
}

div.comment b {
    font-weight: normal;
    color: #9bf6ff;
}

div.comment u {
    background: orange;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

div.code_container {
    text-align: left;
}

html, #wrapper {
    background: #2f2f31;
}

#wrapper {
    font-family: JetBrains, sans-serif;
    font-size: 20px;
    color: #fff;
}

html pre {
    background: #2F2F31;
    overflow-wrap: normal;
    padding-left: 10px;
}

pre, code {
    font-family: JetBrains, sans-serif;
    font-size: 18px;
    overflow-wrap: normal;
    width: inherit;
}

@keyframes rainbow-background {
    0% {
        color: #ff0000;
    }
    8.333% {
        color: #ff8000;
    }
    16.667% {
        color: #ffff00;
    }
    25.000% {
        color: #80ff00;
    }
    33.333% {
        color: #00ff00;
    }
    41.667% {
        color: #00ff80;
    }
    50.000% {
        color: #00ffff;
    }
    58.333% {
        color: #0080ff;
    }
    66.667% {
        color: #0000ff;
    }
    75.000% {
        color: #8000ff;
    }
    83.333% {
        color: #ff00ff;
    }
    91.667% {
        color: #ff0080;
    }
    100% {
        color: #ff0000;
    }
}

div.card_hidden .cloze {
    animation-iteration-count: infinite;
    animation-name: rainbow-background;
    animation-duration: 3s;
}

.cloze {
    font-weight: normal !important;
}
/*       LIBRARY CODE      */
code[class*="language-"],
pre[class*="language-"] {
    color: #ccc;
    background: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999;
}

.token.punctuation {
    color: rgb(136, 198, 190);
}

.token.tag,
.token.namespace,
.token.deleted {
    color: #e2777a;
}

.token.function-name {
    color: #6196cc;
}

.token.function {
    color: #61AEEF;
}

.token.number,
.token.property,
.token.class-name,
.token.constant,
.token.symbol {
    color: #f8c555;
}

.token.boolean,
.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
    color: #C679DD;
}

.token.string,
.token.attr-value
.token.char,
.token.regex,
.token.variable {
    color: #98C379;
}

.token.parameter {
    color: #9ACBD9;
}

span.token.keyword + span.token.punctuation + span.token.function,
.token.attr-name {
    color: #E5C17C;
}

.token.operator,
.token.entity,
.token.url {
    color: #67cdcc;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.inserted {
    color: green;
}